body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

div.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 30px auto;
}

p {
    text-align: center;
}